<div class="table-responsive-sm">
    <table class="table table-striped table-hover table-sm">
        <thead class="thead-light">
            <tr>
            {% for h in model.header %}
                <th>{{ h }}</th>
            {% end %}
            </tr>
        </thead>
        <tbody>
        {% for item in model.serialize() %}
        <tr>
            {% for h in model.header %}
                <td class="text-nowrap">{{ item[h.replace('TheDate','date')] }}</td>
            {% end %}
        </tr>
        {% end %}
        </tbody>
    </table>
</div>